* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   color: #888585;
}

.container {
   width: 270px;
   border-radius: 10px;
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   /* background-color: #f1eeee; */
   padding: 50px 20px;
   box-shadow: 0 3px 5px #c3c3c3;
}

.form__title {
   color: rgb(48, 57, 73);
   text-align: center;
   margin-bottom: 60px;
}

.input__box {
   border-bottom: 1px solid #c3c3c3;
   padding: 5px;
   position: relative;
   margin-bottom: 20px;
}

.input__box input {
   font-size: 16px;
   background: none;
   outline: none;
   border: none;
   width: 100%;
}

.data__placeholder {
   position: absolute;
   top: 0;
   left: 0;
   font-size: 16px;
   padding: 5px;
   pointer-events: none;
   transition: 0.3s;
}

.input__box input:focus ~ .data__placeholder,
.input__box input:valid ~ .data__placeholder {
   top: -20px;
   font-size: 12px;
   font-weight: 600;
   color: rgb(114, 144, 199);
}

.btn {
   padding: 10px 35px;
   color: #fff;
   background: rgb(55, 112, 219);
   border: none;
   outline: none;
   font-size: 16px;
   border-radius: 3px;
   display: block;
   margin: 0 auto;
}

